@font-face {
  font-family: 'TradeGothicLT-Bold';
  src: url("/assets/fonts/TradeGothicLT-Bold/TradeGothicLT-Bold.eot");
  src: url("/assets/fonts/TradeGothicLT-Bold/TradeGothicLT-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/TradeGothicLT-Bold/TradeGothicLT-Bold.woff") format("woff"), url("/assets/fonts/TradeGothicLT-Bold/TradeGothicLT-Bold.ttf") format("truetype"), url("/assets/fonts/TradeGothicLT-Bold/TradeGothicLT-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ApercuPro';
  src: url("/assets/fonts/ApercuPro/ApercuPro.eot");
  src: url("/assets/fonts/ApercuPro/ApercuPro.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/ApercuPro/ApercuPro.woff") format("woff"), url("/assets/fonts/ApercuPro/ApercuPro.ttf") format("truetype"), url("/assets/fonts/ApercuPro/ApercuPro.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Apercu-Bold';
  src: url("/assets/fonts/Apercu-Bold/Apercu-Bold.eot");
  src: url("/assets/fonts/Apercu-Bold/Apercu-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Apercu-Bold/Apercu-Bold.woff") format("woff"), url("/assets/fonts/Apercu-Bold/Apercu-Bold.ttf") format("truetype"), url("/assets/fonts/Apercu-Bold/Apercu-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'TradeGothicLT-Bold'; }

li, a {
  color: #000000;
  text-decoration: none;
  text-transform: none;
  list-style: none; }

a:focus {
  color: #000000;
  font-weight: 700;
  -webkit-transition: .2s linear;
  transition: .2s linear; }

section {
  position: relative;
  width: 100%;
  height: 100%; }
  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%; }

@-webkit-keyframes slider {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0); }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px); }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0); } }

@keyframes slider {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0); }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            transform: rotate(-45deg) translate(-10px, 10px); }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
            transform: rotate(-45deg) translate(0, 0); } }

/*<<<<<<<<navigation<<<<*/
.about video#videobg {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  z-index: -20;
  background-attachment: fixed;
  background-size: cover; }

.about .main_nav {
  width: 100%;
  height: 900px;
  background-color: white;
  z-index: 1; }

.about #text1 {
  position: relative;
  width: 380px;
  height: 300px;
  margin-left: 15%;
  margin-top: 100px;
  /*    background-color: aqua;*/ }

.about .nome {
  color: #000000;
  padding: 6px;
  font-size: 26px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 200px; }

.about .traco {
  color: #000000;
  padding: 6px;
  font-size: 26px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 20px;
  margin-top: 20px;
  margin-left: 168px; }

.about .text {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-top: 110px; }

.about .text2 {
  position: relative;
  width: 570px;
  height: 260px;
  margin-left: 50%;
  margin-top: -260px;
  /*    background-color: aqua;*/ }

.about .description {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 550px; }

.about .line1 {
  margin-top: 225px;
  margin-left: 280px;
  position: absolute; }

.about .about-gif {
  width: 50%;
  height: 50px;
  background-image: url(/assets/img/about.gif);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 25%;
  position: absolute;
  margin-top: 150px;
  /*        background-color: aqua;*/ }

.about .text3 {
  position: relative;
  width: 380px;
  height: 350px;
  margin-left: 15%;
  margin-top: 30px; }

.about .line2 {
  margin-top: 270px;
  margin-left: 200px;
  position: absolute; }

.about .title {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 15%;
  margin-top: 300px; }

.about .text-edu {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 420px;
  margin-left: 15%;
  margin-top: 350px; }

.about .text4 {
  position: relative;
  width: 380px;
  height: 350px;
  margin-left: 15%;
  margin-top: 200px; }

.about .line3 {
  margin-top: 720px;
  margin-left: 200px;
  position: absolute; }

.about .title1 {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 15%;
  margin-top: 750px; }

.about .text-work {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 360px;
  margin-left: 15%;
  margin-top: 800px; }

.about .line4 {
  margin-top: 340px;
  margin-left: 710px;
  position: absolute; }

.about .title2 {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 55%;
  margin-top: 370px; }

.about .text-project {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 440px;
  margin-left: 55%;
  margin-top: 420px; }

.about .line5 {
  margin-top: 1050px;
  margin-left: 710px;
  position: absolute; }

.about .title3 {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 55%;
  margin-top: 1080px; }

.about .line6 {
  margin-top: 1160px;
  margin-left: 710px;
  position: absolute; }

.about .line7 {
  margin-top: 1160px;
  margin-left: 830px;
  position: absolute; }

.about .line8 {
  margin-top: 1160px;
  margin-left: 950px;
  position: absolute; }

.about .language-text {
  color: #000000;
  padding: 6px;
  font-size: 12px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 80px;
  margin-left: 55%;
  margin-top: 1170px;
  text-align: center; }

.about .language-text2 {
  color: #000000;
  padding: 6px;
  font-size: 12px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 80px;
  margin-left: 65%;
  margin-top: 1170px;
  text-align: center; }

.about .language-text3 {
  color: #000000;
  padding: 6px;
  font-size: 12px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 150px;
  margin-left: 73%;
  margin-top: 1170px;
  text-align: center; }

.about .line9 {
  margin-top: 1470px;
  margin-left: 200px;
  position: absolute; }

.about .title4 {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 15%;
  margin-top: 1500px; }

.about .skills {
  width: 50%;
  height: 5%;
  background-image: url(/assets/img/soft.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  position: relative;
  margin-left: 16%;
  margin-top: 1600px; }

.about .line10 {
  margin-top: 100px;
  margin-left: 200px;
  position: absolute; }

.about .title5 {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 15%;
  margin-top: 130px; }

.about .clients {
  width: 75%;
  height: 8%;
  background-image: url(/assets/img/clients.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  position: relative;
  margin-left: 16%;
  margin-top: 230px; }

/*<<<<<<<<HEADER<<<<*/
.contact {
  width: 50%;
  height: 60%;
  background-image: url(/assets/img/contact_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  position: absolute;
  margin-left: 25%;
  padding: 5px;
  margin-top: 150px;
  /*        background-color: aqua;*/ }

/*
.contact:hover,
.contact:active  {
        width: 25%;
        height: 60%;
        background-image: url(/assets/img/contact_1.jpg);
    }
*/
.nome {
  color: #000000;
  padding: 16px;
  font-size: 20px;
  font-family: 'Apercu-Bold';
  border: none;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: absolute;
  width: 180px;
  margin-left: 10%;
  margin-top: 350px; }

.traco {
  margin-top: 5px;
  position: absolute; }

.email {
  color: #000000;
  padding: 16px;
  font-size: 20px;
  font-family: 'Apercu-Bold';
  border: none;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  position: absolute;
  width: 180px;
  margin-left: 10%;
  margin-top: 780px; }

/*<<<<<<<<navigation<<<<*/
.title {
  color: #000000;
  padding: 6px;
  font-size: 40px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 49%;
  margin-top: 400px;
  z-index: 2; }

.section {
  color: #000000;
  padding: 6px;
  font-size: 16px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 49%;
  margin-top: 480px;
  z-index: 2; }

.img3 {
  width: 60%;
  height: 500px;
  background-image: url(/assets/img/editorial/edit-1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 10%;
  position: absolute;
  margin-top: 200px; }

.img3:hover {
  background-image: url(/assets/img/editorial/edit-1-hover.jpg); }

.img4 {
  width: 40%;
  height: 300px;
  background-image: url(/assets/img/editorial/edit-2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 50%;
  position: absolute;
  margin-top: 800px; }

.img4:hover {
  background-image: url(/assets/img/editorial/edit-2.jpg); }

.title2 {
  color: #000000;
  padding: 6px;
  font-size: 40px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 30%;
  margin-top: 900px;
  z-index: 2; }

.section2 {
  color: #000000;
  padding: 6px;
  font-size: 16px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 30%;
  margin-top: 980px;
  z-index: 2; }

.img5 {
  width: 60%;
  height: 500px;
  background-image: url(/assets/img/editorial/edit-3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 10%;
  position: absolute;
  margin-top: 1200px; }

.img5:hover {
  background-image: url(/assets/img/editorial/edit-3.jpg); }

.title3 {
  color: #000000;
  padding: 6px;
  font-size: 40px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 65%;
  margin-top: 1400px;
  z-index: 2; }

.section3 {
  color: #000000;
  padding: 6px;
  font-size: 16px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 65%;
  margin-top: 1480px;
  z-index: 2; }

.img6 {
  width: 45%;
  height: 500px;
  background-image: url(/assets/img/editorial/edit-1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 45%;
  position: absolute;
  margin-top: 1770px; }

.img6:hover {
  background-image: url(/assets/img/editorial/edit-1-hover.jpg); }

.title4 {
  color: #000000;
  padding: 6px;
  font-size: 40px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 40%;
  margin-top: 1980px;
  z-index: 2; }

.section4 {
  color: #000000;
  padding: 6px;
  font-size: 16px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 40%;
  margin-top: 2060px;
  z-index: 2; }

.img7 {
  width: 40%;
  height: 300px;
  background-image: url(/assets/img/editorial/edit-2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 10%;
  position: absolute;
  margin-top: 2350px; }

.img7:hover {
  background-image: url(/assets/img/editorial/edit-2.jpg); }

.title5 {
  color: #000000;
  padding: 6px;
  font-size: 40px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 40%;
  margin-top: 2460px;
  z-index: 2; }

.section5 {
  color: #000000;
  padding: 6px;
  font-size: 16px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 40%;
  margin-top: 2540px;
  z-index: 2; }

.img8 {
  width: 60%;
  height: 500px;
  background-image: url(/assets/img/editorial/edit-3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 30%;
  position: absolute;
  margin-top: 2750px; }

.img8:hover {
  background-image: url(/assets/img/editorial/edit-3.jpg); }

.title6 {
  color: #000000;
  padding: 6px;
  font-size: 40px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 24%;
  margin-top: 2900px;
  z-index: 2; }

.section6 {
  color: #000000;
  padding: 6px;
  font-size: 16px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 24%;
  margin-top: 2980px;
  z-index: 2; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 70px;
  width: 70%; }
  @media all and (min-width: 768px) {
    .social {
      width: 33%; } }
  @media all and (min-width: 1200px) {
    .social {
      width: 15%; } }
  .social > * {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 30px;
    margin-right: 30px;
    width: 30px; }
    .social > *:last-of-type {
      margin-right: 0; }
  .social__behance {
    background-image: url("/assets/img/behance_color.png"); }
    .social__behance:hover {
      background-image: url("/assets/img/behance_black.svg"); }
  .social__insta {
    background-image: url("/assets/img/insta_color.png"); }
    .social__insta:hover {
      background-image: url("/assets/img/insta_black.svg"); }
  .social__linked {
    background-image: url("/assets/img/linked_color.png"); }
    .social__linked:hover {
      background-image: url("/assets/img/linked_black.svg"); }
  .social__vimeo {
    background-image: url("/assets/img/vimeo_color.png"); }
    .social__vimeo:hover {
      background-image: url("/assets/img/vimeo_black.png"); }

.home_button {
  background-image: url(/assets/img/logo.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  height: auto;
  min-height: 37.5px;
  position: fixed;
  right: 37.5px;
  top: 37.5px;
  z-index: 1; }
  @media all and (min-width: 768px) {
    .home_button {
      min-height: 75px;
      right: 75px;
      top: 75px; } }

nav label {
  cursor: pointer;
  height: 4px;
  margin: 37.5px 0 0 37.5px;
  padding: 0 0 20px;
  position: fixed;
  width: 40px;
  z-index: 2; }
  @media all and (min-width: 768px) {
    nav label {
      margin: 75px 0 0 75px; } }
  nav label::before, nav label::after {
    content: "";
    position: absolute;
    left: 37.5px;
    width: 40px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    position: fixed; }
    @media all and (min-width: 768px) {
      nav label::before, nav label::after {
        left: 75px; } }
  nav label:before {
    top: 37.5px;
    box-shadow: 0 8px 0 white; }
    @media all and (min-width: 768px) {
      nav label:before {
        top: 75px; } }
  nav label:after {
    top: 53.5px; }
    @media all and (min-width: 768px) {
      nav label:after {
        top: 91px; } }

nav .menu {
  background: white;
  border-radius: 2px;
  cursor: pointer;
  height: 4px;
  left: 37.5px;
  position: fixed;
  top: 37.5px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  width: 0px;
  z-index: 2; }
  @media all and (min-width: 768px) {
    nav .menu {
      left: 75px;
      top: 75px; } }
  nav .menu li {
    line-height: 0.5;
    pointer-events: none;
    opacity: 0; }

.menu-toggle {
  display: none; }
  .menu-toggle:checked + label:before {
    box-shadow: 0 0 0 transparent;
    left: 37.5px;
    top: 47.5px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
    @media all and (min-width: 768px) {
      .menu-toggle:checked + label:before {
        left: 75px;
        top: 85px; } }
  .menu-toggle:checked + label:after {
    left: 37.5px;
    top: 47.5px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
    @media all and (min-width: 768px) {
      .menu-toggle:checked + label:after {
        left: 75px;
        top: 85px; } }
  .menu-toggle:checked + label + .menu {
    width: 160px;
    height: 110px;
    left: 97.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    -webkit-transition: .3s ease .2s;
    transition: .3s ease .2s;
    z-index: 1; }
    @media all and (min-width: 768px) {
      .menu-toggle:checked + label + .menu {
        left: 155px; } }
    .menu-toggle:checked + label + .menu li {
      pointer-events: all;
      padding-left: 10px;
      line-height: 2.3;
      opacity: 1;
      z-index: 2;
      -webkit-transition: .2s ease .3s;
      transition: .2s ease .3s; }

.project .main_nav {
  width: 100%;
  height: 700px;
  background-image: url(/assets/img/book_frag/book-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.project .image-thumb {
  width: 35%;
  height: 30%;
  background-image: url(/assets/img/book_frag/book-2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 10%;
  position: absolute;
  margin-top: 1000px; }

.project #mySVG {
  margin-top: 900px;
  margin-left: 42%; }

.project .title {
  color: #000000;
  padding: 6px;
  font-size: 30px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 45%;
  margin-top: 883px; }

.project .section {
  color: #000000;
  padding: 6px;
  font-size: 16px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 45%;
  margin-top: 940px; }

.project .description-work {
  color: #000000;
  padding: 10px;
  font-size: 12px;
  font-family: 'Apercu-Bold';
  position: absolute;
  width: 400px;
  margin-left: 55%;
  margin-top: 10px;
  text-align: left; }

.project .img2 {
  width: 100%;
  height: 1000px;
  background-image: url(/assets/img/book_frag/book-3.gif);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  position: absolute;
  margin-top: 460px; }

.project .img3 {
  width: 80%;
  height: 1000px;
  background-image: url(/assets/img/book_frag/book-4.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 10%;
  position: absolute;
  margin-top: 1560px; }

.project .img4 {
  width: 50%;
  height: 800px;
  background-image: url(/assets/img/book_frag/book-5.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  position: absolute; }

.project .img5 {
  width: 45%;
  height: 400px;
  background-image: url(/assets/img/book_frag/book-6.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 55%;
  position: absolute; }

.project .img6 {
  width: 45%;
  height: 450px;
  background-image: url(/assets/img/book_frag/book-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  margin-left: 55%;
  position: absolute;
  margin-top: 340px; }

.project .section3 {
  width: 80%;
  height: 790px;
  margin-left: 10%;
  position: relative;
  margin-top: 2460px; }

.project .img7 {
  width: 80%;
  height: 1000px;
  background-image: url(/assets/img/book_frag/book-8.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 10%;
  position: absolute;
  margin-top: 150px; }

.project .img8 {
  width: 80%;
  height: 1000px;
  background-image: url(/assets/img/book_frag/book-9.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 10%;
  position: absolute;
  margin-top: 960px; }

.project .img9 {
  width: 25%;
  height: 400px;
  background-image: url(/assets/img/book_frag/book-10.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 20%;
  position: absolute;
  margin-top: 1860px; }

.project .img10 {
  width: 25%;
  height: 400px;
  background-image: url(/assets/img/book_frag/book-11.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 55%;
  position: absolute;
  margin-top: 1980px; }

.project .img11 {
  width: 60%;
  height: 1000px;
  background-image: url(/assets/img/book_frag/book-12.gif);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  margin-left: 20%;
  position: absolute;
  margin-top: 2560px; }

.project .button-left {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 20%;
  margin-top: 3500px; }

.project .button-right {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 71%;
  margin-top: 3500px; }

.project .line2 {
  margin-top: 3570px;
  margin-left: 38%;
  position: absolute; }

.project .sub-title {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'TradeGothicLT-Bold';
  border: none;
  position: absolute;
  width: 370px;
  margin-left: 38%;
  margin-top: 3600px; }

.project .ficha {
  color: #000000;
  padding: 6px;
  font-size: 20px;
  font-family: 'Apercu-Bold';
  border: none;
  position: absolute;
  width: 450px;
  margin-left: 38%;
  margin-top: 3650px; }

.video-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 0; }
  .video-container video {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1; }
  .video-container__slider {
    -webkit-animation: slider 2s infinite;
            animation: slider 2s infinite;
    border: 3px solid #ffffff;
    border-width: 0 0 3px 3px;
    bottom: 7.5vh;
    position: absolute;
    height: 36px;
    left: 50%;
    margin-left: -12px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 36px;
    z-index: 1; }

.workspace__prefetch::after {
  background: url("/assets/img/workspace/drawing-base.svg"), url("/assets/img/workspace/digital.svg"), url("/assets/img/workspace/illustration.svg"), url("/assets/img/workspace/editorial.svg"), url("/assets/img/workspace/photo.svg"), url("/assets/img/workspace/misc.svg");
  content: '';
  height: 0;
  width: 0; }

.workspace {
  box-sizing: border-box;
  height: -webkit-calc(100vh - 100px);
  height: calc(100vh - 100px);
  padding-top: 4em;
  position: relative;
  width: 100%; }
  @media all and (min-width: 768px) {
    .workspace {
      padding: 4em 4em 0; } }
  .workspace__background {
    background-image: url("/assets/img/workspace/drawing-base.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: -webkit-calc(100vh - 70px);
    height: calc(100vh - 70px);
    left: 0;
    opacity: 0.33;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }
    @media all and (min-width: 768px) {
      .workspace__background {
        opacity: 1; } }
  .workspace a {
    display: block;
    margin-top: 2em;
    position: relative;
    text-align: center; }
    @media all and (min-width: 768px) {
      .workspace a {
        display: inline-block;
        position: absolute;
        margin: 0; } }
  @media all and (min-width: 768px) {
    .workspace__editorial {
      top: 30%;
      height: 30%;
      width: 35%; } }
  @media all and (min-width: 992px) {
    .workspace__editorial {
      left: 10%; } }
  .workspace__editorial:hover, .workspace__editorial:focus {
    color: #f04319; }
    .workspace__editorial:hover ~ .workspace__background, .workspace__editorial:focus ~ .workspace__background {
      background-image: url("/assets/img/workspace/editorial.svg"); }
  @media all and (min-width: 768px) {
    .workspace__misc {
      bottom: 25%;
      left: 40%;
      padding-top: 25%;
      padding-right: 10%; } }
  @media all and (min-width: 992px) {
    .workspace__misc {
      padding-top: 15%; } }
  .workspace__misc:hover, .workspace__misc:focus {
    color: #f04319; }
    .workspace__misc:hover ~ .workspace__background, .workspace__misc:focus ~ .workspace__background {
      background-image: url("/assets/img/workspace/misc.svg"); }
  @media all and (min-width: 768px) {
    .workspace__digital {
      height: 35%;
      left: 39%;
      top: 18%;
      width: 25%; } }
  @media all and (min-width: 992px) {
    .workspace__digital {
      top: 10%; } }
  .workspace__digital:hover, .workspace__digital:focus {
    color: #f04319; }
    .workspace__digital:hover ~ .workspace__background, .workspace__digital:focus ~ .workspace__background {
      background-image: url("/assets/img/workspace/digital.svg"); }
  @media all and (min-width: 768px) {
    .workspace__photo {
      bottom: 10%;
      padding: 12% 25% 20% 0;
      right: 10%; } }
  @media all and (min-width: 992px) {
    .workspace__photo {
      bottom: 0;
      padding: 15% 30% 20% 0;
      right: 0; } }
  @media all and (min-width: 1200px) {
    .workspace__photo {
      padding: 15% 37% 14% 0; } }
  .workspace__photo:hover, .workspace__photo:focus {
    color: #f04319; }
    .workspace__photo:hover ~ .workspace__background, .workspace__photo:focus ~ .workspace__background {
      background-image: url("/assets/img/workspace/photo.svg"); }
  @media all and (min-width: 768px) {
    .workspace__illustration {
      right: 12%;
      top: 30%;
      width: 25%;
      height: 20%; } }
  .workspace__illustration:hover, .workspace__illustration:focus {
    color: #f04319; }
    .workspace__illustration:hover ~ .workspace__background, .workspace__illustration:focus ~ .workspace__background {
      background-image: url("/assets/img/workspace/illustration.svg"); }
