@font-face {
  font-family: 'TradeGothicLT-Bold';
  src: url('fonts/TradeGothicLT-Bold/TradeGothicLT-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro';
  src: url('fonts/ApercuPro/ApercuPro.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Bold';
  src: url('Apercu-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

li, a {
    color: #000000;
    text-indent: -15px;
    text-decoration: none;
    text-transform: none;
    list-style: none;
}
a:focus {
    color: #000000;
    font-weight: 700;
    transition: .2s linear;
}

h1 {
    line-height: 0;
    font-size: 4vw;
    font-weight: 700;
}
h3 {
    float: right;
    line-height: .3;
    font-size: 2.5vw;
    font-weight: lighter;
}
h4 {
    float: left;
    margin-left: -2%;
    font-size: 1.5vw;
    font-weight: lighter;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'TradeGothicLT-Bold';
}

#menu, label:before, label:after {
    content: "mis";
    position: absolute;
    left: 100px;
    width: 40px;
    height: 5px;
    background-color: #ffffff; 
/*    //onde se muda a cor do menu e do x//*/
    border-radius: 2px;
    transition: .5s ease;
    position: fixed;
}

label {
    padding: 38px 70px;
    position: absolute;
    z-index: 2;
    position: fixed;
}
label:before { top: 50px; }
label:after { top: 70px; }

#menu {
    top: 44px;
    width: 0px;
    transition: .2s ease;
    z-index: 2;
    position: fixed;
}
#menu li {
    line-height: 0.5;
    pointer-events: none;
    opacity: 0;
}

#menu-toggle:checked + label:before {
    top: 60px;
    left: 50px;
    transform: rotate(-45deg);
}
#menu-toggle:checked + label:after {
    top: 60px;
    left: 50px;
    transform: rotate(45deg);
}
#menu-toggle:checked + label + #menu {
    top: 44px;
    width: 160px;
    height: 110px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    transition: .3s ease .2s;
    z-index: 1;
}
#menu-toggle:checked + label + #menu li {
    pointer-events: all;
    font-family: 'TradeGothicLT-Bold';
    line-height: 2.3;
    opacity: 1;
    z-index: 2;
    transition: .2s ease .3s;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}

/*<<<<<<<<HEADER<<<<*/
    
.home_button, .home_button:hover,
.home_button:active  {
  background-image: url(img/logo-black.svg);
  background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-repeat: no-repeat;
    width: 20%;  /* Or whatever */
    height: 5%; /* Or whatever */
    padding: 5px;
    margin-left: 75%;
    margin-top: 50px;
    position: absolute;
    position: fixed;
    z-index:1;
    
}

/*<<<<<<<<navigation<<<<*/

/*
.image-top {
  width: 100%;
  height: 100%;
  background-image: url(img/produtos_up.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 2;
  position: relative;
}
*/

.main_nav {
  width: 100%;
  height: 700px;
   background-image: url(img/book_frag/book-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




.image-thumb{
        width: 35%;
        height: 30%;
        background-image: url(img/book_frag/book-2.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        margin-left: 10%;
        position: absolute;
        margin-top: 1000px;
    }


#mySVG {
  margin-top: 900px;
  margin-left:42%;
}


.title {
    color: #000000;
    padding: 6px;
    font-size: 30px;
    font-family: 'TradeGothicLT-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 45%;
    margin-top:883px;
}

.section {
    color: #000000;
    padding: 6px;
    font-size: 16px;
    font-family: 'Apercu-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 45%;
    margin-top:940px;
}

.description-work {
    color: #000000;
    padding: 10px;
    font-size: 12px;
    font-family: 'Apercu-Bold';
    position: absolute;
    width:400px;
    margin-left: 55%;
    margin-top: 10px;
    text-align: left;

}

.img2{
        width: 100%;
        height: 1000px;
        background-image: url(img/book_frag/book-3.gif);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        position: absolute;
        margin-top: 460px;
    }

.img3{
        width: 80%;
        height: 1000px;
        background-image: url(img/book_frag/book-4.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        margin-left: 10%;
        position: absolute;
        margin-top: 1560px;
    }

.img4{
        width: 50%;
        height: 800px;
        background-image: url(img/book_frag/book-5.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        position: absolute;
        
        
    }


.img5{
        width: 45%;
        height: 400px;
        background-image: url(img/book_frag/book-6.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        margin-left: 55%;
        position: absolute;
    }

.img6{
        width: 45%;
        height: 450px;
        background-image: url(img/book_frag/book-7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        margin-left: 55%;
        position: absolute;
        margin-top: 340px;
        
    }

.section3{
        width: 80%;
        height: 790px;
        margin-left: 10%;
        position: relative;
        margin-top: 2460px;
        
    }

.img7{
        width: 80%;
        height: 1000px;
        background-image: url(img/book_frag/book-8.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        margin-left: 10%;
        position: absolute;
        margin-top: 150px;
    }

.img8{
        width: 80%;
        height: 1000px;
        background-image: url(img/book_frag/book-9.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        margin-left: 10%;
        position: absolute;
        margin-top: 960px;
    }

.img9{
        width: 25%;
        height: 400px;
        background-image: url(img/book_frag/book-10.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        margin-left: 20%;
        position: absolute;
        margin-top: 1860px;
    }

.img10{
        width: 25%;
        height: 400px;
        background-image: url(img/book_frag/book-11.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        margin-left: 55%;
        position: absolute;
        margin-top: 1980px;
    }

.img11{
        width: 60%;
        height: 1000px;
        background-image: url(img/book_frag/book-12.gif);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        margin-left: 20%;
        position: absolute;
        margin-top: 2560px;
    }


.button-left {
    color: #000000;
    padding: 6px;
    font-size: 20px;
    font-family: 'TradeGothicLT-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 20%;
    margin-top:3500px;
}

.button-right {
    color: #000000;
    padding: 6px;
    font-size: 20px;
    font-family: 'TradeGothicLT-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 71%;
    margin-top:3500px;
}

.line2 {
  margin-top: 3570px;
  margin-left: 38%;
  position: absolute;
}

.sub-title {
    color: #000000;
    padding: 6px;
    font-size: 20px;
    font-family: 'TradeGothicLT-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 38%;
    margin-top:3600px;
}

.ficha {
    color: #000000;
    padding: 6px;
    font-size: 20px;
    font-family: 'Apercu-Bold';
    border: none;
    position: absolute;
    width:450px;
    margin-left: 38%;
    margin-top: 3650px;

}


/* <<<<<<<<<<<<footer<<<*/

.social-container {
  display: flex; /* or inline-flex */
  width: 20%;
  height: 30px;
  margin-top: 595%;
  left: 40%;
  position: absolute;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content:space-between;
  padding: 10px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  
}

.behance_button {
    
 width: 160%;  /* Or whatever */
  min-height: 100%;
  background-image: url(img/behance_color.png);
  padding: 5px;
  margin-top: 9px;
  background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-repeat: no-repeat;
}

.behance_button:hover,
.behance_button:active {
    background-image: url(img/behance-black.svg);
    
}



  
.insta_button {
    
  width: 100%;  /* Or whatever */
  min-height: 100%; /* Or whatever */
  background-image: url(img/insta_4.png);
  padding: 5px;
  margin-top: 8px;
  background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-repeat: no-repeat;
}

.insta_button:hover,
.insta_button:active {
    background-image: url(img/incta-black.svg);
    
}


.linked_button {
    
  width: 100%;  /* Or whatever */
  min-height: 100%; /* Or whatever */
  background-image: url(img/in.png);
  padding: 5px;
  margin-top: 6px;
  background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-repeat: no-repeat;
}

.linked_button:hover,
.linked_button:active {
    background-image: url(img/in-black.svg);
    
}

.vimeo_button {
    
  width: 100%;  /* Or whatever */
  min-height: 100%; /* Or whatever */
  background-image: url(img/vimeo_color.png);
  padding: 5px;
  margin-top: 8px;
  background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-repeat: no-repeat;
}

.vimeo_button:hover,
.vimeo_button:active {
    background-image: url(img/vimeo-black.png);
    
}