* {
	margin: 0;
	padding: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: $TradeGothic;
		overflow-x: hidden;
}

li, a {
    color: #000000;
    // text-indent: -15px;
    text-decoration: none;
    text-transform: none;
    list-style: none;
}

a:focus {
    color: #000000;
    font-weight: 700;
    transition: .2s linear;
}

.section--text {
	font-family: $Apercu;
  margin: 0 auto;
  max-width: 1200px;
	padding: 30px;

	@include media-above($phone) {
		padding: 50px;
	}
	@include media-above($large) {
		padding: 120px;
	}
}
