@font-face {
  font-family: 'TradeGothicLT-Bold';
  src: url('/assets/fonts/TradeGothicLT-Bold/TradeGothicLT-Bold.eot');
  src: url('/assets/fonts/TradeGothicLT-Bold/TradeGothicLT-Bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/TradeGothicLT-Bold/TradeGothicLT-Bold.woff') format('woff'),
      url('/assets/fonts/TradeGothicLT-Bold/TradeGothicLT-Bold.ttf')  format('truetype'),
      url('/assets/fonts/TradeGothicLT-Bold/TradeGothicLT-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro';
  src: url('/assets/fonts/ApercuPro/ApercuPro.eot');
  src: url('/assets/fonts/ApercuPro/ApercuPro.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/ApercuPro/ApercuPro.woff') format('woff'),
      url('/assets/fonts/ApercuPro/ApercuPro.ttf')  format('truetype'),
      url('/assets/fonts/ApercuPro/ApercuPro.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu-Bold';
  src: url('/assets/fonts/Apercu-Bold/Apercu-Bold.eot');
  src: url('/assets/fonts/Apercu-Bold/Apercu-Bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Apercu-Bold/Apercu-Bold.woff') format('woff'),
      url('/assets/fonts/Apercu-Bold/Apercu-Bold.ttf')  format('truetype'),
      url('/assets/fonts/Apercu-Bold/Apercu-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
