/*<<<<<<<<navigation<<<<*/
.about {
  padding: 30px;
  font-family: $Apercu;
  @include media-above($phone) {
    padding: 50px;
  }
  @include media-above($tablet) {
    padding: 120px;
  }

  &__gif {  // .about__gif
    display: block;
    margin: 75px -12.5%;
    width: 125%;
    @include media-above($tablet) {
      margin: 100px auto;
      width: 80%;
    }
    @include media-above($large) {
      margin: 100px auto;
      width: 70%;
    }
  }

  h2 {   // .about h2
    font-family: $TradeGothic;
    font-size: 20px;
    padding-top: 15px;
    position: relative;
    margin: 40px 0;

    &::before { // .about h2::before
      background-color: $black;
      content: '';
      display: inline-block;
      height: 2px;
      position: absolute;
      top: 0;
      width: 25px;
    }

    &.about__name { // .about h2.about__name
      display: inline-block;
      &::before {
        bottom: 0;
        right: -12.5px;
        top: auto;
      }
    }
  }

  a {  // .about a
    border-bottom: 2px solid $black;
    &:hover, &:focus {
      border-bottom: none;
    }
  }

  &__first-paragraph {
    padding-top: 2.5rem;
  }

  li, dd {
    margin-bottom: 1rem;
  }

  .skills {
    width: 50%;
    height: 5%;
    background-image: url(/assets/img/soft.svg);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    position: relative;
    margin-left: 16%;
    margin-top: 1600px;
  }

  .clients {
    width: 75%;
    height: 8%;
    background-image: url(/assets/img/clients.svg);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    position: relative;
    margin-left: 16%;
    margin-top: 230px;
  }
}

.languages {
  display: float;
  justify-content: space-between;

  &__item {
    border-top: 2px solid $black;
    padding: 0.5rem;
    text-align: center;
  }
}
