/*<<<<<<<<HEADER<<<<*/

.contact {
	@extend .section--text;
	height: 100vh;
}

.contact__img {
	width: 50%;
	height: 60%;
	background-image: url(/assets/img/contact_1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

.contact__nome {
	font-family: 'Apercu-Bold';
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform-origin: 0 0;
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.contact__email {
	font-size: 20px;
	font-family: 'Apercu-Bold';
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}


