/*<<<<<<<<HEADER<<<<*/

 .contact {
        width: 50%;
        height: 60%;
        background-image: url(/assets/img/contact_1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        position: absolute;
        margin-left: 25%;
        padding: 5px;
        margin-top: 150px;
/*        background-color: aqua;*/
    }
/*
.contact:hover,
.contact:active  {
        width: 25%;
        height: 60%;
        background-image: url(/assets/img/contact_1.jpg);
    }
*/

.nome {
    color: #000000;
    padding: 16px;
    font-size: 20px;
    font-family: 'Apercu-Bold';
    border: none;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position: absolute;
    width:180px;
    margin-left: 10%;
    margin-top: 350px;

}

.traco {
  margin-top: 5px;
  position: absolute;
}

.email {
    color: #000000;
    padding: 16px;
    font-size: 20px;
    font-family: 'Apercu-Bold';
    border: none;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    position: absolute;
    width:180px;
    margin-left: 10%;
    margin-top: 780px;

}
