/*<<<<<<<<navigation<<<<*/

.title {
    color: #000000;
    padding: 6px;
    font-size: 40px;
    font-family: 'TradeGothicLT-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 49%;
    margin-top:400px;
	z-index: 2;
}

.section {
    color: #000000;
    padding: 6px;
    font-size: 16px;
    font-family: 'Apercu-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 49%;
    margin-top:480px;
	z-index: 2;
}


.img3{
        width: 60%;
        height: 500px;
        background-image: url(/assets/img/editorial/edit-1.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        margin-left: 10%;
        position: absolute;
        margin-top: 200px;
    }

.img3:hover{

        background-image: url(/assets/img/editorial/edit-1-hover.jpg);

    }

.img4{
        width: 40%;
        height: 300px;
        background-image: url(/assets/img/editorial/edit-2.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        margin-left: 50%;
        position: absolute;
        margin-top: 800px;
    }

.img4:hover{

        background-image: url(/assets/img/editorial/edit-2.jpg);

    }

.title2 {
    color: #000000;
    padding: 6px;
    font-size: 40px;
    font-family: 'TradeGothicLT-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 30%;
    margin-top:900px;
	z-index: 2;
}

.section2 {
    color: #000000;
    padding: 6px;
    font-size: 16px;
    font-family: 'Apercu-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 30%;
    margin-top:980px;
	z-index: 2;
}


.img5 {
        width: 60%;
        height: 500px;
        background-image: url(/assets/img/editorial/edit-3.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        margin-left: 10%;
        position: absolute;
        margin-top: 1200px;
    }

.img5:hover{

        background-image: url(/assets/img/editorial/edit-3.jpg);

    }

.title3 {
    color: #000000;
    padding: 6px;
    font-size: 40px;
    font-family: 'TradeGothicLT-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 65%;
    margin-top:1400px;
	z-index: 2;
}

.section3 {
    color: #000000;
    padding: 6px;
    font-size: 16px;
    font-family: 'Apercu-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 65%;
    margin-top:1480px;
	z-index: 2;
}

.img6{
        width: 45%;
        height: 500px;
        background-image: url(/assets/img/editorial/edit-1.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        margin-left: 45%;
        position: absolute;
        margin-top: 1770px;
    }

.img6:hover{

        background-image: url(/assets/img/editorial/edit-1-hover.jpg);

    }

.title4 {
    color: #000000;
    padding: 6px;
    font-size: 40px;
    font-family: 'TradeGothicLT-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 40%;
    margin-top:1980px;
	z-index: 2;
}

.section4 {
    color: #000000;
    padding: 6px;
    font-size: 16px;
    font-family: 'Apercu-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 40%;
    margin-top:2060px;
	z-index: 2;
}

.img7{
        width: 40%;
        height: 300px;
        background-image: url(/assets/img/editorial/edit-2.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        margin-left: 10%;
        position: absolute;
        margin-top: 2350px;
    }

.img7:hover{

        background-image: url(/assets/img/editorial/edit-2.jpg);

    }

.title5 {
    color: #000000;
    padding: 6px;
    font-size: 40px;
    font-family: 'TradeGothicLT-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 40%;
    margin-top:2460px;
	z-index: 2;
}

.section5 {
    color: #000000;
    padding: 6px;
    font-size: 16px;
    font-family: 'Apercu-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 40%;
    margin-top:2540px;
	z-index: 2;
}

.img8 {
        width: 60%;
        height: 500px;
        background-image: url(/assets/img/editorial/edit-3.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        margin-left: 30%;
        position: absolute;
        margin-top: 2750px;
    }

.img8:hover{

        background-image: url(/assets/img/editorial/edit-3.jpg);

    }

.title6 {
    color: #000000;
    padding: 6px;
    font-size: 40px;
    font-family: 'TradeGothicLT-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 24%;
    margin-top:2900px;
	z-index: 2;
}

.section6 {
    color: #000000;
    padding: 6px;
    font-size: 16px;
    font-family: 'Apercu-Bold';
    border: none;
    position: absolute;
    width:370px;
    margin-left: 24%;
    margin-top:2980px;
	z-index: 2;
}
