.home_button, .home_button:hover,
.home_button:active  {
  background-image: url(/assets/img/logo.svg);
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-repeat: no-repeat;
  width: 20%;  /* Or whatever */
  height: 5%; /* Or whatever */
  padding: 5px;
  margin-left: 75%;
  margin-top: 50px;
  position: fixed;
  z-index:1;
}
