---
layout: default
---
{% if page.images.mainImg != nil | '' %}
  <!-- if there's a mainImg --->
  <section id="video" class="project__lead" style="background-image: url({{ page.images.mainImg}})">
  </section>
{% endif %}

<section class="project">
  <div class="grid">
    <div class="col-1-2 project__sideImg">
      {% if page.images.sideImg != nil | '' %}
        <!-- if there's a sideImg --->
        <img src="{{ page.images.sideImg }}" alt="{{ page.title }}">
      {% endif %}
    </div>
    <div class="col-1-2 project__header">

      <svg width="1100" height="50" id="mySVG">
        <rect x="10" y="10" width="1000" height="24" stroke="black" fill="transparent" stroke-width="2.2"/>
      </svg>

      <h2>
        {{ page.title }}
      </h2>
      <p>
        {{ page.categories }}
      </p>

      <div class="project__description">
        {% for description in page.description %}
          <p>{{ description }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section>
    {{ content }}
</section>
<section class="project">
  <div class="project__navigation">
    <a href="/{{ page.categories }}.html">BACK to section</a>
    {% if page.next_in_category != nil %}
      <a class="right" href="{{ page.next_in_category.url }}">
        NEXT project
      </a>
    {% endif %}
  </div>

  {% if page.credits != nil | '' %}
    <div class="project__credits">
      <h3>CREDITS</h2>

      {% for credit in page.credits %}
        <p>{{ credit }}</p>
      {% endfor %}
    </div>
  {% endif %}
</section>
